body{
    margin: 0;
    padding: 0;
}

.logo{
   
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #f2efe6;
}
.inner-logo-container{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    
    
}